<ion-modal-view ng-controller="AddCourseController">
  <ion-header-bar>
    <h1 class="title">Añadir un curso</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="dismiss()">
        Cerrar
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete"
          autocomplete="off" max-selected-items="1" ng-model="data.selectedUniversities"
          item-view-value-key="name" items-method="queryUniversities(query, isInitializing)"
          placeholder="Escribe una unversidad" cancel-label="Cancelar"
          select-items-label="Selecciona un elemento" selected-items-label="Mi selección: ">
        </select>
      </label>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete"
          autocomplete="off" max-selected-items="1" ng-model="data.selectedMajors"
          item-view-value-key="name" items-method="queryMajors(query, isInitializing)"
          placeholder="Escribe una carrera" cancel-label="Cancelar"
          select-items-label="Selecciona un elemento" selected-items-label="Mi selección: ">
      </label>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete"
          autocomplete="off" max-selected-items="1" ng-model="data.selectedCourses"
          item-view-value-key="name" items-method="queryCourses(query, isInitializing)"
          placeholder="Escribe una materia" cancel-label="Cancelar"
          select-items-label="Selecciona un elemento" selected-items-label="Mi selección: "
          ng-model-options="{debounce:300}">
      </label>
    </div>

    <ion-list>
      <ion-item ng-repeat="group in groups" class="group-item" ng-click="selectGroup(group)"
        ng-class="{'disabled': groupConflicts[group.id].length}">
        <div class="group-name">{{group.id}} - {{group.teacher || 'Sin profesor asignado'}}</div>
        <div class="group-conflict" ng-if="groupConflicts[group.id].length">Se cruza con
          <span ng-repeat="conflict in groupConflicts[group.id]">
            {{conflict.course.name}}
            <span ng-if="!$last">, </span>
          </span>
        </div>
        <div>
          <span ng-repeat="day in dayNames" ng-if="group.schedules[$index]"
            ng-init="daySchedules = group.schedules[$index]; dayIndex = $index">
            <span class="day-name">{{day}}: </span>
            <span ng-repeat="schedule in daySchedules">
              <span class="group-time">{{schedule.startTime | minutesToDate | date:'h:mma'}}</span> -
              <span class="group-time">{{schedule.endTime | minutesToDate | date:'h:mma'}}</span>
              <span class="group-place" ng-if="schedule.place">
                ({{schedule.place}})
              </span><span ng-if="!$last">, </span>
            </span><span ng-if="hasMoreScheduleDays(group, dayIndex)">, </span>
          </span>
        </div>
        <div ng-if="group.notes">{{group.notes}}</div>
        <div class="available-places" ng-class="{'group-full': group.availablePlaces === 0}">
          {{group.availablePlaces}} disponible(s) de {{group.totalPlaces}}
          <progress max="{{group.totalPlaces}}"
            value="{{group.totalPlaces - group.availablePlaces}}"></progress>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
