<ion-modal-view ng-controller="AddCourseController">
  <ion-header-bar>
    <h1 class="title">Añadir un curso</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="dismiss()">
        Cerrar
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete"
          autocomplete="off" max-selected-items="1" ng-model="data.university"
          item-view-value-key="name" items-method="queryUniversities(query, isInitializing)"
          placeholder="Escribe una unversidad" cancel-label="Cancelar"
          select-items-label="Selecciona un elemento" selected-items-label="Mi selección: ">
        </select>
      </label>
      <label class="item item-input">
        <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete"
          autocomplete="off" max-selected-items="1" ng-model="data.major"
          item-view-value-key="name" items-method="queryMajors(query, isInitializing)"
          placeholder="Escribe una carrera" cancel-label="Cancelar"
          select-items-label="Selecciona un elemento" selected-items-label="Mi selección: ">
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Nombre del curso">
      </label>
    </div>
  </ion-content>
</ion-modal-view>
